<ion-header>
	<ion-navbar>
		<ion-content style=""> &nbsp;</ion-content>

	    <ion-title style="">
	     	<div style="">{{title}} </div>
	    </ion-title>

	    <ion-content style=""> &nbsp;</ion-content>
	</ion-navbar>
</ion-header>

<ion-content>
	<section 
		class="date-days bg-coca"
		style="background-image:url(../assets/bg-red.png);">
		<div class="padding4"></div>
	</section>

	<section 
		class="logo-arca" 
		style="background-image:url(../assets/arcaContinental.png);">
	</section>

	<section>
		
		<form class="form">
			<div class="group -ionic">
				<input class="field" type="text" required [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
				<ion-label class="title">Usuario</ion-label> 
			</div> 
			<div class="group -ionic">
				<input class="field" type="password" required [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
				<ion-label class="title">Contraseña</ion-label> 
			</div>	
			
			<!-- [navPush]="addingPage" para redireccionar sin parametros-->		
			<button ion-button block color="primary" 
				type="submit" 
				[disabled]="user.email.length < 3 || user.password.length < 3" 
				(click)="goHome()">
				Entrar
			</button>
		</form>

	
	</section>
</ion-content>