page-login {
	.form {
		padding:3em 2em;
		.group {
			position: relative;
			margin-bottom: 2rem;
			width: 100%;
			&.-ionic {
				> .field {
					border-radius: 0.6em;
				    border: 1px solid #DDD;
				    text-indent: 1.2em;
				    padding:0.8em;
					&:focus,
					&:valid {
						border-color:#C51B34;
						+ .title {
							top:-1.6em;
							color:#6E3823;
							font-size: 0.8em;
						}
					}
					+ .title {
						background-color: #FFF;
						left:1em;
						padding:0.4em;
						top: 0.3em;
					}
				}
			}

			> .field {
				width: 100%;
				border: 0;
				outline: none;
				+ .title {				
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: #9E9E9E;
					transition: .3s;
					font-size:1em;
					pointer-events: none;
				}
				&:focus,
				&:valid {
					+ .title {
						transition: .3s;
						font-size:1em;
					}
				}
			}
		}
	}
	/*button{
	border-radius:0.5em;
	height:auto!important;
	padding:0.6em!important;
	width:100%;}*/
	.button-md-primary {
	    color: #fff;
	    background-color: #7E000F;
	    border-radius: 0.5em;
	    padding: 1.5em 0;
	    margin:2em 0;
	}

	.padding4{padding:4em}
}
