<ion-header>
	<ion-navbar>
	    <ion-title>
	     	<ion-title> titulo </ion-title>
	    </ion-title>

	    <button ion-button>
	     	<ion-icon name="log-out"></ion-icon>
	    </button>
	</ion-navbar>
</ion-header>