page-home {
	.background-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
 
    .main-content {
        padding: 20px;
        background-color: white;
        position: absolute;
    }
    
	.button-md{
		box-shadow:none;
		-webkit-box-shadow:none;
	}

    

    .chart {
        .color-metric1 {
            background: rgba(167,224,62,1);
            background: -moz-linear-gradient(left, rgba(167,224,62,1) 0%, rgba(50,204,16,1) 11%, rgba(46,153,11,1) 39%, rgba(50,128,12,1) 66%, rgba(13,64,2,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(167,224,62,1)), color-stop(11%, rgba(50,204,16,1)), color-stop(39%, rgba(46,153,11,1)), color-stop(66%, rgba(50,128,12,1)), color-stop(100%, rgba(13,64,2,1)));
            background: -webkit-linear-gradient(left, rgba(167,224,62,1) 0%, rgba(50,204,16,1) 11%, rgba(46,153,11,1) 39%, rgba(50,128,12,1) 66%, rgba(13,64,2,1) 100%);
            background: -o-linear-gradient(left, rgba(167,224,62,1) 0%, rgba(50,204,16,1) 11%, rgba(46,153,11,1) 39%, rgba(50,128,12,1) 66%, rgba(13,64,2,1) 100%);
            background: -ms-linear-gradient(left, rgba(167,224,62,1) 0%, rgba(50,204,16,1) 11%, rgba(46,153,11,1) 39%, rgba(50,128,12,1) 66%, rgba(13,64,2,1) 100%);
            background: linear-gradient(to right, rgba(167,224,62,1) 0%, rgba(50,204,16,1) 11%, rgba(46,153,11,1) 39%, rgba(50,128,12,1) 66%, rgba(13,64,2,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7e03e', endColorstr='#0d4002', GradientType=1 );
        }
        .color-metric2 {
            background: rgba(246,108,28,1);
            background: -moz-linear-gradient(left, rgba(246,108,28,1) 0%, rgba(249,158,61,1) 11%, rgba(245,213,8,1) 39%, rgba(250,230,5,1) 66%, rgba(231,245,30,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,108,28,1)), color-stop(11%, rgba(249,158,61,1)), color-stop(39%, rgba(245,213,8,1)), color-stop(66%, rgba(250,230,5,1)), color-stop(100%, rgba(231,245,30,1)));
            background: -webkit-linear-gradient(left, rgba(246,108,28,1) 0%, rgba(249,158,61,1) 11%, rgba(245,213,8,1) 39%, rgba(250,230,5,1) 66%, rgba(231,245,30,1) 100%);
            background: -o-linear-gradient(left, rgba(246,108,28,1) 0%, rgba(249,158,61,1) 11%, rgba(245,213,8,1) 39%, rgba(250,230,5,1) 66%, rgba(231,245,30,1) 100%);
            background: -ms-linear-gradient(left, rgba(246,108,28,1) 0%, rgba(249,158,61,1) 11%, rgba(245,213,8,1) 39%, rgba(250,230,5,1) 66%, rgba(231,245,30,1) 100%);
            background: linear-gradient(to right, rgba(246,108,28,1) 0%, rgba(249,158,61,1) 11%, rgba(245,213,8,1) 39%, rgba(250,230,5,1) 66%, rgba(231,245,30,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f66c1c', endColorstr='#e7f51e', GradientType=1 );
        }
        .color-metric3 {
            background: rgba(252,8,49,1);
            background: -moz-linear-gradient(left, rgba(252,8,49,1) 0%, rgba(232,7,41,1) 7%, rgba(232,7,41,1) 19%, rgba(173,5,27,1) 51%, rgba(126,0,15,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,8,49,1)), color-stop(7%, rgba(232,7,41,1)), color-stop(19%, rgba(232,7,41,1)), color-stop(51%, rgba(173,5,27,1)), color-stop(100%, rgba(126,0,15,1)));
            background: -webkit-linear-gradient(left, rgba(252,8,49,1) 0%, rgba(232,7,41,1) 7%, rgba(232,7,41,1) 19%, rgba(173,5,27,1) 51%, rgba(126,0,15,1) 100%);
            background: -o-linear-gradient(left, rgba(252,8,49,1) 0%, rgba(232,7,41,1) 7%, rgba(232,7,41,1) 19%, rgba(173,5,27,1) 51%, rgba(126,0,15,1) 100%);
            background: -ms-linear-gradient(left, rgba(252,8,49,1) 0%, rgba(232,7,41,1) 7%, rgba(232,7,41,1) 19%, rgba(173,5,27,1) 51%, rgba(126,0,15,1) 100%);
            background: linear-gradient(to right, rgba(252,8,49,1) 0%, rgba(232,7,41,1) 7%, rgba(232,7,41,1) 19%, rgba(173,5,27,1) 51%, rgba(126,0,15,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0831', endColorstr='#7e000f', GradientType=1 );
        }
    }
    .chart-horizontal {background:#EEEEEE;
        margin: 0.5em 0 0 0;
        border-radius:3em;
        width: 100%;
        .metric {
            border-radius:3em;
            margin-bottom: 3px;
            /*min-width: 100px;*/
            padding: 6px 15px;
        }
    }

    
    .graph-h {
        .item-md.item-block .item-inner, .item-md,
        .item-wp.item-block .item-inner,
        .item-ios.item-block .item-inner,
        .label-md,
        .label-wp,
        .label-ios
        {margin:0; padding:0;border-bottom: 1px solid transparent;}
        ion-list .graph{
            padding:0;
            margin:0;
            margin:0.5em 0;
            padding:0.6em 1.5em;
            -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
            
        }
        ion-list ion-item {
            .text-period{
            padding:0.3em 0.6;
            display:inline-block;
            vertical-align:middle;
            font-size:1em;
            }
            .date{width:78%;}
            .porcent{
                font-weight:bold;
                text-align:right;
                width:20%;
            }
        }
    }
    
}


