<ion-header>
	<ion-navbar>
		<ion-content style=""> &nbsp;a</ion-content>

	    <ion-title style="">
	     	<div style="">{{title}} </div>
	    </ion-title>

	    <button ion-button style="">
	     	<ion-icon name="log-out" style="" (click)="close()"></ion-icon>
	    </button>
	</ion-navbar>
</ion-header>


<ion-content>
	<section 
		class="date-days bg-coca"
		style="background-image:url(../assets/bg-red.png);">
		<div class="next name">
			<span>Gerardo Vázquez Zerecero</span><br>
			Gerente de Mercadotecnia
		</div>
		<div class="next number">
			<div class="next today" style="text-align:right;">
				<ion-datetime displayFormat="DD" [(ngModel)]="myDate"></ion-datetime>
			</div>
			<div class="next month" style="text-align:center;">
				HOY
				<span><ion-datetime displayFormat="MMMM" [(ngModel)]="myDate"></ion-datetime></span>
			</div>
		</div>
		<div class="padding2"></div>
	</section>

	<h5>AVANCE GENERAL</h5>
	<graph-circular></graph-circular> 

	<section class="graph-h marging4">
		<ion-list>
			<ion-item class="graph" (click)="goDetalle()">
				<div class="text-period date">
					SEMANAL
				</div>
				<div class="text-period porcent">
				  	90%
				</div>
			
				<div class="chart chart-bar chart-horizontal">
    				<div class="metric color-metric1" style="width:90%">  </div>
    			</div>
			</ion-item>
			<ion-item class="graph" (click)="goDetalleq()">
				<div class="text-period date">
					QUINCENAL
				</div>
				<div class="text-period porcent">
				  	50%
				</div>
			
				<div class="chart chart-bar chart-horizontal">
    				<div class="metric color-metric2" style="width:50%">  </div>
    			</div>
			</ion-item>
			<ion-item class="graph" (click)="goDetalleM()">
				<div class="text-period date">
					MENSUAL
				</div>
				<div class="text-period porcent">
				  	10%
				</div>
			
				<div class="chart chart-bar chart-horizontal">
    				<div class="metric color-metric3" style="width:10%">  </div>
    			</div>
			</ion-item>
			<ion-item class="graph" (click)="goDetalleD()">
				<div class="text-period date">
					DIVERSAS
				</div>
				<div class="text-period porcent">
				  	27%
				</div>
			
				<div class="chart chart-bar chart-horizontal">
    				<div class="metric color-metric3" style="width:27%">  </div>
    			</div>
			</ion-item>
		</ion-list>
	</section>

	<!-- <section style="padding:0 4em">
		<div id="containercircle" style="display: block;width:100%;height:auto"></div>
	</section> -->


	<!-- la directiva -->
	<!-- <section class="grafic" style="border:solid red 0.1em;height:30em">
		<ion-content grafica-circular>
			<div class="background-image"></div>
 
			<div class="main-content">

				<h2>Parallax Header</h2>

				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

			</div>
		</ion-content> 
	</section> -->

<!-- 	<section>
		<ion-list>
			<ion-item>
				<h2>Cher</h2>
				<ion-avatar item-end>
				  	<img src="img/avatar-cher.png">
				</ion-avatar>
			</ion-item>
			<ion-item>
				<h2>Cher</h2>
				<ion-avatar item-end>
				  	<img src="img/avatar-cher.png">
				</ion-avatar>
			</ion-item>
		</ion-list>
	</section> -->

</ion-content>
