// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$primary:#7E000F;
.zero{margin:0;padding:0}
.toolbar-background{
	background:$primary}

/*PARA EL MENU*/
ion-header{
/*//android*/
	.toolbar-title-md,
/*//window*/
	.toolbar-title-wp,
/*//ios*/
	.toolbar-title-ios{
		color:#fff;}
	.toolbar-ios ion-title{
		padding:0;
		margin-left:10%;
		width: 75%;
		div{padding-top:0.7em}
	}
	.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
		left:0.8em;
	}
	

	ion-navbar{
		.back-button.show-back-button{
			margin-left:-0.5em;
			position: absolute;
			vertical-align:top; 
			width:10%;    
			ion-icon{font-weight:bold;
				font-size:1.6em; color:#fff}
			.back-button-text{display:none}
		}
		ion-content{
			display:inline-block;
			vertical-align:top; 
			width:10%}
		ion-title{display:inline-block;
			vertical-align:top; 
			text-align:center; 
			width:75%;
			div{padding-top:0.8em;
				color:#fff!important; 
				font-size:0.8em}
		}
		button{-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75)!important;
			-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75)!important;
			box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75)!important;
			display:inline-block;
			float:right;
			vertical-align:top; 
			width:10%; 
			ion-icon{font-weight:bold;
				font-size:1.6em}
		}
	}
}
/*PARA EL MENU*/

.padding2{padding:4em}
.marging4{margin:5em 0}


.next{display:inline-block;
        vertical-align: middle;}

h5{font-size:1.2em;font-weight:bold;text-align:center;width:100%}

/*PAGE REGISTRO*/
.bg-coca{
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100% 100%;
    margin: 0;
    padding: 2.5em 0em 0em 2em;
	font-size:0.8em;
	color:#fff;
    .name{width:64%;
    	span{font-size:1.2em;font-weight:bold;}
    }
    .number{width:34%}
    .today{border-right:solid #fff 0.1em;width:32%; text-align:center;font-size:2em;padding-right:0.1em;font-weight:bold;
    	ion-datetime, .datetime-md{margin: 0;padding:0;}}
    .month{width:64%;
    	span{font-weight:bold;
    		ion-datetime, .datetime-md{
    			margin: 0;
    			padding:0;}
    	}
    }
}

.logo-arca{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding:5em;}

/*PAGE REGISTRO*/


