page-detalle {
	
	.chek-task {
        .item-md.item-block .item-inner, .item-md,
        .item-wp.item-block .item-inner,
        .item-ios.item-block .item-inner,
        .item-ios,
        .label-md,
        .label-wp,
        .label-ios
        {margin:0; padding:0;background:transparent;}
        .item-md ion-avatar[item-right], .item-md ion-thumbnail[item-right], .item-md ion-avatar[item-end], .item-md ion-thumbnail[item-end],
        .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end],
        .item-wp [item-left], .item-wp [item-right], .item-wp [item-start], .item-wp [item-end],
     	.item-wp ion-avatar[item-right], .item-wp ion-thumbnail[item-right], .item-wp ion-avatar[item-end], .item-wp ion-thumbnail[item-end],
     	.item-ios ion-avatar[item-right], .item-ios ion-thumbnail[item-right], .item-ios ion-avatar[item-end], .item-ios ion-thumbnail[item-end],
		.item-ios [item-right], .item-ios [item-end]{margin:0;padding:0;}
		
        .item-wp.item-block .item-inner,.item-md.item-block .item-inner{padding-left:0.9em}

		ion-item{padding: 0 0.4em 0 0.8em;
            ion-avatar button{text-align: right;
                    margin:0;
                    padding:0;
                    margin:0;
                    padding-right: 0; 
                    height:auto;
                     ion-icon{
                        color:#000;
                        font-size:2em;
                        font-weight:bold;
                        margin:0;
                        padding:0;
                        margin:0;
                        margin-top: -0.23em;
                }
            }
        }
		
		.mark{background:#F8F8F8;color:#C0C0C0;
			h2{font-size:0.8em;text-align: center; color:#C0C0C0;
                span{font-weight:bold;}
            }
		}

        .item-ios.item-block .item-inner{border:solid transparent;}
        .item-cover{border-bottom:solid 0.2em #F9F9F9}
	}





/*@keyframes animate-up{
0% {transform: translateY(-100%);}
30% {transform: translateY(0%);}
60% {transform: translateY(0%);}
100% {transform: translateY(100%);}
}
@keyframes animate-down{
0% {transform: translateY(100%);}
30% {transform: translateY(0%);}
60% {transform: translateY(0%);}
100% {transform: translateY(-100%);}
}
*/
	
}
