<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-content style=""> &nbsp;a</ion-content>

	    <ion-title style="">
	     	<div style="">{{title}} </div>
	    </ion-title>

	    <button ion-button style="">
	     	<ion-icon name="log-out" style="" (click)="close()"></ion-icon>
	    </button>
	</ion-navbar>
</ion-header>


<ion-content>
	<section 
		class="date-days bg-coca"
		style="background-image:url(../assets/bg-red.png);">
		<div class="next name">
			<span>Gerardo Vázquez Zerecero</span><br>
			Gerente de Mercadotecnia
		</div>
		<div class="next number">
			<div class="next today" style="text-align:right;">
				<ion-datetime displayFormat="DD" [(ngModel)]="myDate"></ion-datetime>
			</div>
			<div class="next month" style="text-align:center;">
				HOY
				<span><ion-datetime displayFormat="MMMM" [(ngModel)]="myDate"></ion-datetime></span>
			</div>
		</div>
		<div class="padding2"></div>
	</section>

	<h5>TAREAS SEMANALES</h5>
	<div id="container1" style="display: block;height:14em;margin:0;padding:0;width:100%"></div>

	<section class="marging4">
		<section class="chek-task">
			<ion-item style="padding:0 1em;" *ngFor="let tarea of tareas.task; let i=index" [@itemState]>
				<ion-checkbox item-start color="primary" checked="false" id="{{i}}" (click)="checkedTask(i, tarea.id)"></ion-checkbox>
				<ion-label style="text-align:left;font-size:0.8em;">{{tarea.name}}</ion-label>
				<ion-avatar item-end style="text-align: center;padding-top:0.3em;font-size:1.4em">
					<button  ion-button clear (click)="getFoto(i)" *ngIf="tarea.img == null "> 
						<ion-icon style="" name="ios-camera-outline" > </ion-icon> 
					</button>
					<img class="img" [src]="tarea.img" *ngIf="tarea.img">
			    	<!-- <img src="img/avatar-cher.png">
			    	ionic cordova run android --prod
			    	ionic cordova run android -l -c -s
			    	 -->
			    </ion-avatar>
			</ion-item>
			
		</section>

		<section class="chek-task mark">
			<ion-item class="mark" style="padding:0 1em ;">
				<h2> <span>{{taskCheched.length}}</span> elementos completados </h2>
			</ion-item>
			<ion-item class="mark" style="padding:0 1em ;" *ngFor="let check of taskCheched; let i=index" [@itemState]>
				<ion-checkbox item-start checked="true" disabled="false" id="{{i}}" (click)="unCheckedTask(i, check.id)"></ion-checkbox>
				<ion-label style="text-align:left;font-size:0.8em;padding-left:0.8em">{{check.name}}</ion-label>
				<ion-avatar item-end >
					<button  ion-button clear (click)="getFoto(i)" *ngIf="check.img"> 
						<img [src]="check.img" >
					</button>
			    	<img src="../assets/coca.png" *ngIf="check.img == null ">
			    </ion-avatar>
			</ion-item>
			
		</section>
	</section>
</ion-content>
